* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.my-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #777e87;
}

.contacts-link-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* color: #b0b4ba; */
  color: #ff6b08;
  margin-left: 15px;
}

.tech-skills-text {
  color: #b0b4ba;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* color: #b0b4ba; */
  color: #ff6b08;
  margin-left: 15px;
}

.soft-skills-text {
  color: #b0b4ba;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.dots {
  color: #595959;
  font-weight: 100;
}

.project-item {
  font-weight: 700;
  margin-left: 18px;
}

.project-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 15px;
}

.profession-company {
  color: #ff761b;
}

.profession-period {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
}

.profession-divider {
  color: #000000;
}

.professional-duties {
  margin-top: 15px;
  margin-bottom: 30px;
}

.professional-duties li {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.educational-organization {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 18px;
}

.educational-specialization {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}
